.react-border {
    position: relative;
}

.react-border__bg {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.react-border__in {
    stroke: #363636;
    stroke-dasharray: 5 10;
    fill: none;
}